* {

}

html, body {
	height: 100%;
	overflow: hide;
}

div.default-page {
	width: 100%;
	height: 100%;
}

div.container {
	width: 100%;
	height: 100%;
}

div.view-box {
	width: 100%;
	height: 100%;
}

.heading {
	text-align: center;
}

.my-drop-zone {
	border: dotted 3px lightgray;
}
.ng-file-over {
	border: dotted 3px red;
}/* Default class applied to drop zones on over */
.another-file-over-class {
	border: dotted 3px green;
}

.pdf-canvas {
	width: 100%;
	height: 90%;
}

.highliter {
	background-color: rgba(0,255,0,0.5);
	width: 100px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*article {
 text-align: center
 }

 #dnd-filesHolder {
 border: 10px dashed #ccc;
 width: 300px;
 min-height: 300px;
 margin: auto;
 }

 #dnd-filesHolder.hover {
 border: 10px dashed #0c0;
 }

 #dnd-filesHolder img {
 display: block;
 margin: 10px auto;
 }

 #dnd-fileHolder p {
 margin: 10px;
 font-size: 14px;
 }*/
